*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f5f7fa;
}

.hero{
    position:relative;
    width:100%;
    height:100vh;
    overflow:hidden;
}

.hero img{
    width:100%;
    height:100%;
    object-fit:cover;
    animation:zoom 10s infinite alternate;
}

.overlay{
    position:absolute;
    inset:0;
    background:linear-gradient(to top,
    rgba(0,0,0,.75),
    rgba(0,0,0,.25));

    display:flex;
    flex-direction:column;
    justify-content:flex-end;

    padding:30px;
}

h1{
    color:white;
    font-size:34px;
    line-height:1.3;
    animation:fadeUp 1s;
}

p{
    color:white;
    margin-top:15px;
    font-size:17px;
    line-height:1.6;
    animation:fadeUp 1.4s;
}

.btn{
    margin-top:25px;
    display:inline-block;
    width:220px;
    text-align:center;
    background:#27ae60;
    color:white;
    text-decoration:none;
    padding:16px;
    border-radius:50px;
    font-size:18px;
    font-weight:600;
    animation:pulse 2s infinite;
    transition:.3s;
}

.btn:hover{
    background:#1f8b4d;
    transform:scale(1.05);
}

@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(40px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

@keyframes pulse{
    0%{transform:scale(1);}
    50%{transform:scale(1.05);}
    100%{transform:scale(1);}
}

@keyframes zoom{
    from{
        transform:scale(1);
    }
    to{
        transform:scale(1.08);
    }
}.company{
    padding:60px 20px;
    background:#ffffff;
}

.company h2{
    text-align:center;
    font-size:32px;
    color:#1f2937;
    margin-bottom:35px;
}

.card{
    display:flex;
    align-items:center;
    gap:15px;

    background:#fff;
    margin-bottom:18px;
    padding:18px;

    border-radius:20px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

    transition:.4s;
}

.card:hover{
    transform:translateY(-6px);
    box-shadow:0 18px 35px rgba(0,0,0,.12);
}

.card span{
    font-size:32px;
}

.card p{
    color:#333;
    font-size:17px;
    line-height:1.5;
}.team{
    padding:70px 20px;
    background:#f7faf8;
}

.team img{
    width:100%;
    border-radius:25px;
    display:block;
    margin-bottom:25px;
    box-shadow:0 15px 35px rgba(0,0,0,.12);
    transition:.5s;
}

.team img:hover{
    transform:scale(1.02);
}

.team-content h2{
    font-size:30px;
    color:#1b4332;
    margin-bottom:15px;
}

.team-content p{
    color:#555;
    font-size:17px;
    line-height:1.8;
    margin-bottom:25px;
}.faq{
    padding:70px 20px;
    background:#ffffff;
}

.faq h2{
    text-align:center;
    font-size:30px;
    margin-bottom:30px;
    color:#1b4332;
}

details{
    background:#f8f8f8;
    border-radius:15px;
    margin-bottom:15px;
    padding:18px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

summary{
    font-size:18px;
    font-weight:600;
    cursor:pointer;
    list-style:none;
}

summary::-webkit-details-marker{
    display:none;
}

details p{
    margin-top:15px;
    color:#555;
    line-height:1.6;
}.contact{
    padding:70px 20px;
    text-align:center;
    background:linear-gradient(180deg,#ffffff,#f4fff7);
}

.contact h2{
    font-size:30px;
    margin-bottom:15px;
    color:#1b4332;
}

.contact p{
    color:#666;
    margin-bottom:30px;
    line-height:1.6;
}

.social{
    display:block;
    text-decoration:none;
    color:white;
    padding:16px;
    margin:15px auto;
    width:100%;
    max-width:350px;
    border-radius:50px;
    font-size:18px;
    font-weight:600;
    transition:.3s;
}

.whatsapp{
    background:#25D366;
}

.telegram{
    background:#229ED9;
}

.instagram{
    background:linear-gradient(90deg,#833AB4,#FD1D1D,#FCAF45);
}

.social:hover{
    transform:translateY(-5px);
}
.p{
    margin:8px 0;
    color:white;
}.floating-btn{
    position:fixed;
    right:20px;
    bottom:20px;

    width:65px;
    height:65px;

    background:#25D366;
    color:white;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    text-decoration:none;
    font-size:30px;

    box-shadow:0 10px 25px rgba(0,0,0,.3);

    animation:float 2s infinite;

    z-index:999;
}

.floating-btn:hover{
    transform:scale(1.1);
}

@keyframes float{

0%{
transform:translateY(0);
}

50%{
transform:translateY(-10px);
}

100%{
transform:translateY(0);
}
.top-btn{
    position:fixed;
    right:20px;
    bottom:95px;

    width:50px;
    height:50px;

    background:#1b4332;
    color:#fff
    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    text-decoration:none;
    font-size:24px;
    font-weight:bold;

    box-shadow:0 10px 25px rgba(0,0,0,.25);

    transition:.3s;
    z-index:998;
}
.top-btn{
    position:fixed;
    right:20px;
    bottom:95px;

    width:50px;
    height:50px;

    background:#1b4332;
    color:#fff;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    text-decoration:none;
    font-size:24px;
    font-weight:bold;

    box-shadow:0 10px 25px rgba(0,0,0,.25);

    transition:.3s;
    z-index:998;
}

.top-btn:hover{
    transform:translateY(-5px);
    background:#2d6a4f;
}



}.footer{
    background:#1b4332;
    color:white;
    text-align:center;
    padding:30px 20px;
}

.footer p{
    margin:8px 0;
    color:white;
}